.maincontainer {
    padding-top: 20px;
    padding-left: 85px;
}

nav {
    padding: 1em;
    background-color: #BBF89F;
}

li {
    font-size: 20pt;
    text-transform: uppercase;
    list-style-type: none;
    margin-left:-1em;
}

    li a {
        text-decoration: none;
        font-family: Trebuchet MS,Verdana, Arial, Helvetica, sans-serif;
        letter-spacing: 0.08em;
        font-stretch: semi-condensed;
    }

.content {
    padding: 1em 5em;
    min-height: calc(70vh);
}

h3{
    font-size: 20pt;
}

table.toylist {
    margin-left: 10px;
}

td > p {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

table.toylist tr:first-child {
    font-weight: 600;
}

table.toylist td:first-child {
    width: 300px;
}

table.toylist td:nth-child(2) {
    width: 100px;
}

td > p {
    font-size: 16pt;
}

input[type="submit"] {
    font-size: 16pt;
    font-weight: 600;
    padding: 1em;
    margin-top: 1em;
}

.buttn {
    text-align: center;
}

.price{
    font-size: 16pt;
    margin-top: 2em;
}