* {
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS,Verdana, Arial, Helvetica, sans-serif;
}

.maincontainer {
    padding-top: 20px;
    padding-left: 85px;
}

nav {
    padding: 1em;
    background-color: #BBF89F;
}

nav ul {
    display: flex;
    margin: auto;
}

nav li {
    list-style-type: none;
}


    nav li:nth-child(n+2) {
        margin-left:5em;
    }


nav li a {
    text-transform: uppercase;
    font-size: 14pt;
    text-decoration: none;
    letter-spacing: -0.08em;
}

.content {
    padding: 1em 5em;
    min-height: calc(70vh);
}

h3 {
    font-size: 18pt;
    margin: 0.5em 0em;
}

table.toylist {
    margin-left: 10px;
}

table.toylist {
    margin-left: 10px;
    line-height: 190%;
}

table.toylist tr:first-child {
    font-weight: 600;
}

table.toylist td:first-child {
    width: 250px;
}

table.toylist td:nth-child(2) {
    width: 100px;
}

td{
    margin: 5pt 0pt;
}

td > p {
    font-size: 12pt;
}

.price {
    font-size: 14pt;
    margin-top: 2em;
}

input[type="submit"] {
    font-size: 16pt;
    font-weight: 600;
    padding: 0.2em 1em;
    margin: 1em;
}

table.buy {
    margin-left: 10px;
    line-height: 200%;
}

table.buy td:first-child {
    padding-right: 10pt;
}

.buttn {
    text-align: center;
}


.buy-content{
    display:flex;
/*    justify-content: space-between;*/
}
.buy-content .col-2{
    margin-left:5em;
}

.test-helper{
    margin: 1.5em 0em;
}

.listbox-helper, .ddlist-helper {
    font-size: 14pt;
    width: 120pt;
}

input[type=password]{
    margin-left:1em;
}